<div class="login-box">
  <div class="login-logo">
    <a href="/"><b>10th</b>Story</a>
  </div><!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Forgot your password?</p>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <div class="form-group has-feedback">
        <%= f.text_field :email, class: 'form-control', autofocus: true %>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>

      <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-10">
          <%= f.submit 'Send me reset password instructions', class: 'btn btn-primary btn-block btn-flat' %>
        </div><!-- /.col -->
      </div>
    <% end %>

    <%= link_to 'Login', new_user_session_path %>

  </div><!-- /.login-box-body -->
</div><!-- /.login-box -->
